# step1: Identify the research problem

### understand why people choose to buy certain brands of smartphones

# step2: Review the literature

### search for articles and studies on consumer behavior and smartphone purchases

# step3: Develop a research question and hypothesis

### research question: "what factors influence consumers to buy a particular brand of smartphone?"

# step4: Determine the research design and methodology

### I want to conduct a survey or experiment to gather data

# step5: Collect data

### sampling method:stratified sampling
we will conduct a survey of smartphone users to gather information about their buying habits and preferences

# step6: Analyze data

### I may use regression analysis to identify the factors that most strongly predict smart phone brand preference

# step7: Draw conclusions and make recommendations

### we may conclude that price and brand reputation are two most important factors in smartphone brand preference

### recommend that companies focus on these factors in their marketing efforts

# step8: Communicate findings

### write a report summarizing our research methods, results, and conclusions and present it to our colleagues or submit it for publication in a relevant academic journal

### ----------------------------------------------------------------------------------------

### Target population

##### is the group of individuals or items that a researcher is interested in

##### target population = individuals with that condition

target population = who uses smartphone / smartphone users

### Study population

##### is the group of individuals or items that a researcher actually studies

##### it is a subset of the target population
feasibility, cost, availability

##### the study population = subset of the target population, limited number of people with that medical conditiion who joined our research

### Sampling

##### subset of Study population / purpose of making inferences about the target population as a whole

In [ ]:
simple random sampling
stratified sampling
cluster sampling

### sampling in different fields

##### 1. Political polling:  exit polls / how the larger population is likely to vote in an election

##### 2. Quality control in manufacturing: randomly sample a batch of products to test for defects

##### 3. Market research: how a product might be received by different segments of the market

##### 4.Epedemiliogy: to study the prevalence of disease.

# Terms

### IMLAIC company wants to estimate the average income of its employees

##### element: an element on which measurement is taken, 
    employee is the element

##### Pouplation: in this case,
    population would be all of the employees of the IMLAIC company

##### Sampling: a sample is a subset of the population that is selected for the statistical study,
    population = 6500 employees
    sample = 1000 employees

##### sampling unit: individual units that are selected from the population to be part of the sample,
    sampling unit = employee

##### Sampling Frame = is a list of all of the sampling units in the population,
    the company's HR database might serve as the sampling frame

##### Parameter: is a numerical value describes a characteristic of population,
    parameter = the average income of 6500 employees in my company

##### Statistic: is a numerical value that describes a characteristic of a sample,
    statistic = the average income of the 1000 employees surveyed would be a statistic

# probability sampling

### 1. simple random sampling

In [ ]:
sample size, n = 1000

In [1]:
n = 1000

In [ ]:
population N = 10000

In [ ]:
N = 10000

In [ ]:
P(element) = element / total population size

In [5]:
# suppose we have a dataset of 1000 individural and we want to select a sample using simple random sampling of 100 individual from this dataset
import pandas as pd
import numpy as np

# create a dataframe with 1000 individuals
data = pd.DataFrame(np.random.randint(0, 1000,size=(1000, 4)), columns=list('ABCD'))

# select a simple random sample of 100 individuals
SRS = data.sample(n=100, random_state=1)

In [8]:
print("Study population: ") 
print("\n", data)

print("\n")
print("\n")
print("Simple random sampling: ") 
print("\n", SRS)

Study population:

        A    B    C    D
0    987  353   41  436
1    148  635  497  677
2    326  282  422  221
3    419  821  653  588
4    337  923  611  498
..   ...  ...  ...  ...
995   28  812  243    4
996  120   16  423  392
997  821  597  571  436
998  219  807  992   35
999  433  819  191  203

[1000 rows x 4 columns]




Simple random sampling:

        A    B    C    D
507  642  589  225  161
818  444  881  481  864
452  439  505  675  586
368   79  578  690  522
242  248  313  542  608
..   ...  ...  ...  ...
671  961  162  779  442
559   46  761  746  495
593   47  848  941  804
258  794  441  147  380
154  995  597  930   88

[100 rows x 4 columns]

### 2. Systematic sampling

In [13]:
# suppose we have a dataset of 1000 individural and we want to select a sample using simple random sampling of 100 individuals 
# using a sampling interval of 10.
import pandas as pd
import numpy as np

# create a dataframe with 1000 individuals
data = pd.DataFrame(np.random.randint(0, 1000,size=(1000, 4)), columns=list('ABCD'))

# determine the smapling interval
k = 10

# select the first individual randomly
start = np.random.randint(0, k)

# select the systematic sample
SS = data.iloc[start::k, :].head(100)

In [15]:
print("Study population: ") 
print("\n", data)

print("\n")
print("\n")
print("Systematic sampling: ") 
print("\n", SS)

Study population:

        A    B    C    D
0    775  150  706  176
1    832  883  665  315
2    577  568  139   80
3    830  602  238  449
4    533  699  311  474
..   ...  ...  ...  ...
995  513   13  730  552
996  876  246  916  934
997  671  984  144   43
998  450  368  887   30
999   92  733  999  234

[1000 rows x 4 columns]




Systematic sampling:

        A    B    C    D
4    533  699  311  474
14   458  839  333  958
24   880  283   67  575
34   610  963  513  144
44   754  291  444  225
..   ...  ...  ...  ...
954  722  113   79  572
964  860   77  885  864
974  149  311  486  637
984  774  219  710  943
994  190  582  765  950

[100 rows x 4 columns]

In [10]:
start

8

In [11]:
data

       A    B    C    D
0    524  267  359  516
1    449  927  281  936
2    733  917  388  298
3    307  528  905  487
4    682  377  449  746
..   ...  ...  ...  ...
995  507  902  922  800
996  996  425   89  518
997  453  923  283   83
998  201  617  615  736
999  218  935  770  268

[1000 rows x 4 columns]

### 3. Stratified sampling

In [ ]:
step1: divide population into strata's based on a characteristic of interest
step2: select a sample from each strata in proportion to its size in the population
step3: put all sampling units

In [39]:
# age as the variable or characteristic of interest , 

# create a dataframe with age variable
data = pd.DataFrame({'age': ['teenager']*200 + ['adult']*500 + ['senior']*300})


# create the strata
teenagers = data[data['age'] == 'teenager']
adults = data[data['age'] == 'adult']
seniors = data[data['age'] == 'adult']
            
    
# create the sample size for each stratum
n_teenagers = round(len(teenagers)/len(data)*100)
n_adults = round(len(adults)/len(data)*100)
n_seniors = round(len(seniors)/len(data)*100)

# select the stratified random sample
teenager_sample = teenagers.sample(n=n_teenagers, random_state=1)
adult_sample = adults.sample(n=n_adults, random_state=1)
senior_sample = seniors.sample(n=n_seniors, random_state=1)

# combine the samples to obtain the final stratified random sample
STS = pd.concat([teenager_sample, adult_sample, senior_sample], axis=0)

In [40]:
print("Study population: ") 
print("\n", data)

print("\n")
print("\n")
print("Stratified Random sampling: ") 
print("\n", STS)

Study population:

           age
0    teenager
1    teenager
2    teenager
3    teenager
4    teenager
..        ...
995    senior
996    senior
997    senior
998    senior
999    senior

[1000 rows x 1 columns]




Stratified Random sampling:

           age
58   teenager
40   teenager
34   teenager
102  teenager
184  teenager
..        ...
529     adult
495     adult
616     adult
606     adult
302     adult

[120 rows x 1 columns]

In [22]:
#three strata from the population
#population size 
N = 1000

#teenagers 
S1 = 200
#adults 
S2 = 500
#seniors 
S3 = 300

         age
0    teenage
1    teenage
2    teenage
3    teenage
4    teenage
..       ...
995   senior
996   senior
997   senior
998   senior
999   senior

[1000 rows x 1 columns]

In [27]:
teenagers

          age
0    teenager
1    teenager
2    teenager
3    teenager
4    teenager
..        ...
195  teenager
196  teenager
197  teenager
198  teenager
199  teenager

[200 rows x 1 columns]

In [29]:
n_teenagers

20

### 4. Cluster sampling

In [ ]:
sampling unit --- an element inside the sample 

each cluster is a sampling unit
 a sampling unit w.r.t cluster sampling is a collection of elements

In [ ]:
effective under the following conditions:
    1. a good sampling frame is not avialable or costly
    2. the cost of obtaining observations increases as the distance separating the element increases

##### problem statement: estimate the average income of households in a city

##### step1: define the population,
    population = all households in the bengaluru city

##### step2: Divide the population into clusters:

##### step3: Randomly select clusters:

##### step4: survey all individuals within the selected clusters

##### step5: calculate the estimate: 
        statistic average income of the sample

##### step6: interpret the results

In [45]:
# create a dataframe with information on cities and households
data = pd.DataFrame({'city': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], 'households': [np.random.randint(50, 100) for _ in range(10)], 'income': [np.random.normal(50000, 100000) for _ in range(10)]})

# select a random sample of cities
sample_city = data['city'].sample(n=3, random_state=1)

# select all households within the selected city clusters
sample = data[data['city'].isin(sample_city)]

In [46]:
print("Study population: ") 
print("\n", data)

print("\n")
print("\n")
print("Cluster sampling: ") 
print("\n", sample)

Study population:

   city  households         income
0    A          54  145367.257529
1    B          68  255706.706121
2    C          53  128016.046082
3    D          52  251588.880650
4    E          90  -33182.479748
5    F          57  124371.698920
6    G          57    2467.922298
7    H          66   76817.063189
8    I          53  144260.063951
9    J          84  120559.621725




Cluster sampling:

   city  households         income
2    C          53  128016.046082
6    G          57    2467.922298
9    J          84  120559.621725

# Non probability sampling

### 1. convenience sampling

##### Researcher
wants to investigate the attitudes of students towards online learning during the Covid-19 pandemic

##### requireement:partipants who are available and willing to join the survey

##### he asked students from his own class and asked them to complete a survey on their attitudes towards online learning

### 2. purposive or judgement sampling

##### a researcher wants to investigate the experiences of individuals who have recovered from COVID-19.

#### the researcher identifies potential participans through social media groups for COVID-19 survivors and selects the individuals who meee criteria, 
such as 
age, gender, severity of illness, and length of recovery time.

##### the researcher then contacts these individuals and invites them to participate in the study

### 3. Quota sampling

##### --> survey to measure the opinions of consumers about a new product

##### Quotas: 

to select the quotas , the following are the variables we will use:
    age 
    gender

In [ ]:
quotas  | age  | gender
Q1      18-24  50% M and 50% F
Q2      25-34  50% M and 50% F
Q3      35-44  50% M and 50% F
Q4      45+    50% M and 50% F

### 4. Snow ball sampling

##### --> wants to study the experiences of individuals who have experienced workplace discrimination.

##### step1: researcher identifies an initial group
    convenient or judegement sampling

##### step2: researcher asks these individuals to refer who have also experienced discrimination

##### step3: the researcher  continues to recruit participants in this way until they have enough participants for the study

# mixed methods sampling

### 1. sequential sampling

#### want to make sure that each bulb meets a certain level of brightness

##### step1: randomly select a subset of bulbs from the production line and test their brightness
    
    if the brightness level reaches the required levels of standards, they stop testing

##### if the brightness level does not meet the required standards , they continue to testing until they have either reached the required sample sized or have found enough defective bulbs to reject the enire production run

### 2. Embedded sampling

#### wants to study the behavior of students in a particular school

##### step1: select smaller subset of students for observaton

##### step2: the researcher selcets several class rooms within the school and then selects a random sample of students within each class

##### step3: the researcher observes these students during their regular class time, collecting data on their behavior and academic performance

# choosing the optimal sample size

### step1: Define your research question:

##### research question: What is the average age of customers who purchase products from a specific online store?

### step2: Determine the level of precision you need:

##### margin of error = +/- 3 years. 

we want a 95% confident that the true average age of customers is within +/- 3 years of the sample mean

### step3: calculate the population size:

##### online store has 10,000 customers

In [47]:
N = 10,000

### step4: choose the desired confidence level

##### 95% confidence level

### step5: calculate the sample size

In [ ]:
n = (Z^2 * p * q) / E^2

In [ ]:
n = sample size
Z = z-score associated with the desired confidence level, 95%
p = estimated proportion of customers in the population
q = 1-p
E = margin of error

In [48]:
p = 0.5

In [52]:
n = ((1.96**2 * 0.5 * 0.5) / 3**2) * 1000

In [53]:
print("the calculate sample size: ", n)

the calculate sample size:  106.71111111111111

In [ ]:
n  = 107

### step6: Consider the practical limitations

##### budget constraints, time constraints, availability of participants,

###### if we have a limited budget or time, we may need to reduce the sample size to a feasible level

### step7: Pilot test your survey or instrument:

##### we may want to test our survey with a small group or customers to ensure taht the questions are clear and understandable, and the athe responses are reliable